footer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background: var(--black);
  padding: var(--spacing);
  max-width: 30ch;
}

footer:target {
  z-index: var(--elevation-about);
  opacity: 1;
}

footer > * + * {
  margin-top: var(--spacing);
}

.footer--close {
  display: flex;
}
