:root {
  --black: #111;
  --white: #eee;
  --spacing: 1rem;
  --font-default: 1rem;
  --font-large: 2rem;
  --line-height: 1.5;
}

html,
body {
  height: 100%;
}

html {
  background: var(--black);
  color: var(--white);
  font: 14px / var(--line-height) SFMono-Regular, Consolas, Liberation Mono,
    Menlo, monospace;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 660px;
}

* {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* 
@media only screen and (min-width: 40em) {
  :root {
    --spacing: 1.5rem;
  }

  html {
    font-size: 16px;
  }
} */

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}