:root {
  --black: #111;
  --white: #eee;
  --spacing: 1rem;
  --font-default: 1rem;
  --font-large: 2rem;
  --line-height: 1.5;
  --icon-size: calc(var(--font-large) * var(--line-height));
}

html,
body {
  height: 100%;
}
html {
  background: var(--black);
  color: var(--white);
  font: 14px / var(--line-height) SFMono-Regular, Consolas, Liberation Mono,
    Menlo, monospace;
  box-sizing: border-box;
}
body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media only screen and (min-width: 40em) {
  :root {
    --spacing: 1.5rem;
  }
  html {
    font-size: 16px;
  }
}
