@import "./theme.css";
@import "./nav.css";
@import "./footer.css";
@import "./inputs.css";

main,
#sketch,
#sketch > canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main,
#sketch {
  z-index: var(--elevation-content);
}

#sketch > canvas {
  width: 100vw !important;
  height: 100vh !important;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  z-index: -1;

  & ~ *  {
    display: block;
    width: 25%;
    margin-left: var(--spacing);
    margin-top: var(--spacing);
    opacity: 0.5;
    height: 1.5rem;
    appearance: none;
    border: 0;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  & ~ * + * {
    margin-top: var(--spacing-small);
  }
}

#description {
  position: absolute;
  right: var(--spacing);
  bottom: var(--spacing);
  max-width: 30ch;
  z-index: var(--elevation-content);
  background: var(--black);
  padding: 0 var(--spacing-small);
}
