.layout {
  display: grid;
  padding: var(--spacing);
  grid-template-columns: 1fr max-content var(--icon-size);
  grid-template-rows: 1fr min-content;
  grid-column-gap: var(--spacing);
  /* grid-row-gap: var(--spacing); */
  height: 100%;
}
.main {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.header,
.navigation,
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
}
.header {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}
.navigation {
  grid-column-start: 1;
  grid-column-end: 2;
}
.footer {
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
}
.title {
  font-size: var(--font-default);
  font-weight: inherit;
}
.about {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: var(--black);
  text-align: left;
  z-index: -1;
}
.about:target {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}
.aboutContent {
  padding: calc(var(--spacing) * 2);
  margin: 0 auto;
  max-width: 60ch;
}
.aboutHeadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (orientation: landscape) {
  .isSketch .header,
  .isSketch .navigation,
  .isSketch .footer {
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: self-end;
  }
  .isSketch .navigation {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .isSketch .header {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: right;
    padding-bottom: calc(var(--spacing) * 2);
    padding-right: calc(var(--spacing) / 2);
  }
}
@media only screen and (min-height: 40em) {
  .layout {
  }
}