.sketch {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 0;
  padding: 0 0 127.27272727%;
}
.sketch > canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (orientation: landscape) {
  .sketch {
    --height: calc(100vh - var(--spacing) - var(--spacing));
    width: calc(var(--height) * 0.7857142857);
    height: var(--height);
    padding: 0;
  }
}
